
create_project project_1 myproj -part {{part_number}}

# Tcl files
{% for tcl_file in tcl_files %}source {{tcl_file}}
{% endfor %}

# Verilog files
{% if sv_files|length > 0 %}
read_verilog -library xil_defaultlib -sv {
  {% for sv_file in sv_files %}{{sv_file}}
  {% endfor %}
}
{% endif %}

set_property top {{top_module}} [current_fileset]

# Constraints
{% for xdc_file in xdc_files %}read_xdc {{xdc_file}}
{% endfor %}

foreach bd [get_files -quiet "*.bd"] {
  if {![get_property IS_GENERATED $bd]} {
    generate_target all $bd
    create_ip_run $bd
  }
}

set run_synth [get_runs "synth_1"]
set run_list [get_runs -quiet \
            -filter "IS_SYNTHESIS == true && NAME != $run_synth"]

set_property strategy "{{synth_strategy}}" $run_synth
set_property -name {STEPS.SYNTH_DESIGN.ARGS.MORE OPTIONS} -value {-verilog_define __SYNTHESIS__} -objects $run_synth

if {[llength $run_list] != 0} {
  foreach run $run_list {
      reset_run $run
  }
  launch_runs $run_list -jobs {{jobs}}
  foreach run $run_list {
    wait_on_run $run
    if {[get_property PROGRESS $run] != "100%"} {
        puts "ERROR: OOC Synthesis of ${run} failed"
        exit 2
    }
  }
}

launch_runs $run_synth -jobs {{jobs}}
wait_on_run $run_synth
if {[get_property PROGRESS $run_synth] != "100%"} {
  puts "ERROR: Synthesis failed"
  exit 2
}

open_run "synth_1"
write_checkpoint -force {{synth_dcp}}
report_timing_summary -file {{report_dir}}/post_synth_timing_summary.rpt
report_utilization -file {{report_dir}}/post_synth_util.rpt

set run_impl [get_runs "impl_1"]

set_property strategy "{{impl_strategy}}" $run_impl

launch_runs $run_impl -jobs {{jobs}}
wait_on_run $run_impl
if {[get_property PROGRESS $run_impl] != "100%"} {
  puts "ERROR: Routing failed"
  exit 2
}

open_run "impl_1"
write_checkpoint -force {{route_dcp}}
report_utilization -file {{report_dir}}/post_route_util.rpt
report_route_status -file {{report_dir}}/post_route_status.rpt
report_timing_summary -file {{report_dir}}/post_route_timing_summary.rpt
report_power -file {{report_dir}}/post_route_power.rpt
report_drc -file {{report_dir}}/post_imp_drc.rpt

write_bitstream -force {{bitstream}}
