
create_project -in_memory -part {{part_number}}

{% for tcl_file in tcl_files %}
source {{tcl_file}}
{% endfor %}

{% if sv_files|length > 0 %}
read_verilog -library xil_defaultlib -sv {
  {% for sv_file in sv_files %}
  {{sv_file}}
  {% endfor %}
}
{% endif %}

{% for xdc_file in xdc_files %}
read_xdc {{xdc_file}}
{% endfor %}

synth_design -top {{top_module}} -part {{part_number}}

write_checkpoint -force -noxdef {{output_dcp}}

# TODO(stridge-cruxml) Create reports.

